$bg:white;
$navwidth:100%;
$navcolor: #3c8dbc;
$navbarf:15px;
$navlogocolor: #367fa9;
$navleftcolor: #222d32;
$smallW:25px;
$smallH:25px;

$blockH:90px;
$blockW:90px;
$icon: 50px;
$cpucolor: #00c0ef;
$colorW:white;
$blockS: 25%;
$navleftwidth: 230px;

/*Kris section*/

$darkorangebg: darkorange;
$aquabg: aqua;
$chocolatebg: chocolate;
$lightbluebg: lightblue;


$amountfont: bold, white;